[bumpversion]
current_version = 1.1.0
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:version.js]
search = FORM_VERSION = "{current_version}"
replace = FORM_VERSION = "{new_version}"

[bumpversion:file:README.md]
search = **Version:** {current_version}
replace = **Version:** {new_version}
